body {
    background-color: #d5df4d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(235, 2, 2, 0.808);
    padding: 20px;
    margin: 100px;
    border-radius: 10px;
    box-shadow: 2px 2px 12px 10px;
    width:400px;
}

h1 {
    color: #fff;
    font-family: "Cedarville Cursive", cursive;
    font-weight: bolder;
    font-size: 20px;
    width: 300px;
    text-align: center;
    margin: 0;
}

#grid-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
    width: 350px;
    background-color: #fff;
}

.user-grid-choice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    height: 100px;
    padding: 10px;
}

.rows {
    display: flex;
    flex: 1;
}

.columns {
    display: flex;
    border: 2px solid #000;
    flex: 1;
    background-color: #fff;
}

.onHover {
    background-color: #ff8000;
}

#resetGrid {
    color: #000;
    margin-left: 10px;
}

.user-btn {
    background-color: #fff;
    border-radius: 5px;
    height: 50px;
    width: 50px;
    flex: 1;
    font-size: 10px;
    font-weight: bold;
}

.user-grid {
    margin-left: 10px;
}